.container {
  display: flex;
  height: 100vh;
  width: 360px;
  flex-direction: row;
}

.aside {
  display: flex;
  background-color: #fff;
  flex-basis: 350px;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid rgba(180, 180, 169, 0.76);
}

.aside-container {
  font-family: "Trebuchet MS", Tahoma, Geneva, Verdana, sans-serif;
  font-size: large;
  margin-top: 40px;
  font-size: 17px;
}

.menu1 {
  margin-left: 40px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: bold;
}
.menu2 {
  margin-left: 40px;
  padding-top: 0px;
  padding-bottom: 0px;
  font-weight: bold;
  text-decoration: none;
}

.iteme {
  padding: 10px;
  text-decoration: none;
  font-family: "Trebuchet MS", Tahoma, Geneva, Verdana, sans-serif;
  font-size: large;
  font-weight: 17px;
  color: black;
}

.iteme a:hover {
  color: dodgerblue;
}

.titre {
  margin-top: 15px;
  margin-left: 98px;
  font-size: 70%;
  color: rgba(180, 180, 169, 0.76);
  margin-bottom: -5px;
}

.plus {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: dodgerblue;
  color: #fff;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  box-shadow: 0px 21px 50px 0px rgb(120, 193, 241);
  font-size: 200%;
}

.dot {
  display: block;
  /* position: absolute; */
  font-size: xx-large;
  cursor: pointer;
  align-content: rigth;
  margin-left: 275px;
}

.asd-contain {
  display: flex;
  flex-wrap: wrap;
  align-self: top;
  background-color: #fff;
  flex-basis: 20%;
  flex-direction: row;
  margin-bottom: -25px;
}

.p_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 145px;
  justify-content: center;
  margin-bottom: 10px;
}

.toggle {
  display: inline-block;
  height: 18px;
  position: relative;
  overflow: visible;
  padding: 0;
  margin-left: 50px;
  cursor: pointer;
  width: 40px;
  user-select: none;
}

.toggle2 {
  height: 15px;
  width: 30px;
  background: lightgray;
  position: relative;
  bottom: 0;
  right: 0;
  border-radius: 12px;
  padding: 2px;
  align-self: end;
  margin-right: 10px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

.tog3 {
  background: white;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.icon {
  margin-right: 15px;
  font-weight: bolder;
}
.icon2 {
  margin-right: 15px;
}

/* span::before {
    content: " \00a0 ";
} */

.Link-activ {
  color: dodgerblue;
}
